{% extends "layout.html" %}

{% block content %}

<div class="card" style="width: 18rem;">
    <div class="card-header">
      Respuestas
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">¿Cuál es el nombre aeropuerto que ha tenido mayor movimiento durante el año?
        {% for resp1 in resp1 %}
        <p><h5>R: {{resp1.0}}</h5></p>
        {% endfor %}
      </li>
      <li class="list-group-item">¿Cuál es el nombre aerolínea que ha realizado mayor número de vuelos durante el año?
        {% for resp2 in resp2 %}
        <p><h5>R: {{resp2.0}}</h5></p>
        {% endfor %}
      </li>
      <li class="list-group-item">¿En qué día se han tenido mayor número de vuelos?
        {% for resp3 in resp3 %}
        <p><h5>R: {{resp3.0}}</h5></p>
        {% endfor %}
      </li>
      <li class="list-group-item">¿Cuáles son las aerolíneas que tienen mas de 2 vuelos por día?
        {% for resp4 in resp4 %}
        {% if resp4.1 > 2 %}
       <h5>{{resp4.0}}</h5>
        {% endif %}
        {% endfor %}
      </li>
    </ul>
  </div>
{% endblock %}